@import 'nav';

.line {
    background-color: #54664F;
    height: 2px;
    width: 100%;
}

@import 'footer';

@media screen and (min-width: 500px) {
    .card-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}