@import 'nav';

.line {
    background-color: #54664F;
    height: 2px;
    width: 100%;
}

@import 'footer';

@media screen and (min-width: 500px) {
    .googlemap {
        height: 480px;
        margin-top: 20px;
    }

    .card-title {
        margin-top: 30px;
    }
}

@media screen and (min-width: 900px) {
    .googlemap {
        height: 500px;
    }
}